ollama_url: "http://127.0.0.1:11434"

embed_model: "nomic-embed-text"
chat_model: "puppet-expert"

vector_store: "qdrant"
qdrant_url: "http://127.0.0.1:6333"
qdrant_collection: "puppet_chunks"

ingest_log_file: "./ingest.log"
ingest_verbose: false
ingest_batch_size: 128

chunk_size: 1200
chunk_overlap: 200

top_k: 6
min_sim: 0.18

sources:
  - type: dir
    name: "internal:module:iptables"
    path: "/opt/llm/llm-test/iptables"
    glob: "**/*"

  - type: git
    name: "vendor:puppetlabs:best-practices"
    url: "https://github.com/puppetlabs/best-practices.git"
    dest: "./sources/vendor/puppetlabs/best-practices"
    glob: "**/*.md"

  # - type: dir
  #   name: "internal:control-repo"
  #   path: "/srv/puppet/control-repo"
  #   glob: "**/*.{pp,epp,md,yaml,yml,json}"

  # - type: dir
  #   name: "internal:modules"
  #   path: "/srv/puppet/modules"
  #   glob: "**/*.{pp,epp,md}"

  - type: forge_discover
    name: "forge:public:auto"
    api_base: "https://forgeapi.puppet.com"
    dest: "./sources/forge/public"
    state_file: "./sources/forge/public/.state/forge_state.json"

    include_globs:
      - "**/*.md"
      - "**/*.pp"
      - "**/*.epp"
      - "metadata.json"
      - "REFERENCE.md"
      - "README*"

    # Pagination / throttling
    limit_per_page: 20
    request_delay_sec: 1.0
    download_delay_sec: 3.0

    # Hard caps per run
    max_modules_seen: 100
    max_modules_synced: 30

    # Filters
    only_owner: "puppetlabs"
    only_with_repo: true

    # Skip behavior (IMPORTANT)
    index_unchanged: false
    check_interval_hours: 24

    # allowlist: ["puppetlabs-stdlib", "puppetlabs-apt"]
    denylist: ["puppetlabs-java", "puppetlabs-nodejs", "puppetlabs-ruby", "puppetlabs-mysql", "puppetlabs-reboot", "puppetlabs-pe_gem", "puppetlabs-gcc"]
